[data-orientation="horizontal"] > [role="region"] {
  overflow: hidden !important;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}

.carousel-item {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  min-width: 100%;
}