
@keyframes zoomIn {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.05);
    opacity: 1;
  }
}

.carousel-item-zoom {
  animation: zoomIn 5s ease-out forwards;
}